$color-background: grey;

body {
    background-color: $color-background;
}

.chat-log {
    height: 80vh;
    margin-bottom: auto;
    background-color: white;
    padding: 6px;
    overflow-y: scroll;
}

.message {
    span { font-weight: bold; }
}

.chat-input {
    padding: 6px;
    input {
        width: 100%;
    }
}