.chat-header {
    height: 42px;
    border-bottom: 1px solid lightgrey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    div {
        padding-top: 10px;
        padding-left: 8px;
        b { font-size: 20px; }
    }
}