.chat-header {
    height: 42px;
    border-bottom: 1px solid lightgrey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    div {
        padding-top: 10px;
        padding-left: 8px;
        b { font-size: 20px; }
    }
}

.header-block {
    display: inline-block;
}

.user-count {
    float: right;
    padding-right: 10px;
    width: 54px;
    height: 28px;
    padding-top: 15px !important;
    text-align: center;
    cursor: pointer;
    
    img {
        position: relative;
        top: 1px;
        width: 15px;
        height: 15px;
    }
}

.user-count:hover {
    background-color: lightgrey;
}