.server-area {
    // border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.server-area:hover {
    background-color: $color-sidebar-hover;
    cursor: pointer;
}

.server-info {
    color: white;
    font-size: 16px;
}

.user-info {
    color: lightgrey;
    font-size: 12px;
    margin-top: 2px;

    div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        float: right;
        margin-right: 12px;
        margin-top: 4px;
    }

    .online {
        background-color: greenyellow;
        transition: background-color 0.5s;
    }

    .offline {
        background-color: red;
        transition: background-color 0.5s;
    }
}