// .timestamp-first {
//     margin-left: 8px;
//     font-size: 14px;
//     color: rgba(0, 0, 0, 0.4);
// }

.timestamp {
    float: right;
    margin-top: 2px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.message {
    word-wrap: break-word;
    display: block;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;

    .avatar {
        position: absolute;
        // span {
        //     font-size: 12px;
        // }
    }

    .message-header {
        display: flex;
        margin-bottom: 2px;
    }

    .message-content {
        margin-left: 52px;
        b {
            margin-right: 6px;
        }
    }
}

.message:hover {
    background-color: $color-message-hover;
}

.error {
    color: red;
}

.status {
    font-style: italic;
    opacity: 0.4;
}