.timestamp-first {
    margin-left: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.timestamp {
    float: right;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.message-stamp {
    margin-top: 6px;
}

.message {
    padding-left: 8px;
    padding-right: 8px;
}

.status {
    font-style: italic;
    color: $color-status;
}